# Base de datos
DB_NAME=pan_casero
DB_USERNAME=postgres
DB_PASSWORD=El+Kpito
DB_HOST=localhost #db
DB_PORT=5432

# App
APP_PORT=3000
DEFAULT_LIMIT=10

#CLOUDINARY
CLOUDINARY_CLOUD_NAME=dtskjaarj
CLOUDINARY_API_KEY=321534732176947
CLOUDINARY_API_SECRET=5v7J736R8lxedpZLrAIwtkg31xk

#MetaBase
MB_DB_TYPE=postgres
MB_DB_DBNAME=metabase
MB_DB_USER=metabase
MB_DB_PASS=elnuevo+Kpito
MB_DB_HOST=db
MB_DB_PORT=5432
